// ! Semantic Colors
$sematic__color__primary: #1C5373;
$sematic__color__secondary: #1C5373;


// ! Buttons
$counter__font__color: #5C5C5C;
$counter__font__color--hover: black;
$counter__background__color: #EBEBEB;

