// ! Imports
// Other SCSS Styles
@import "colors.scss";
// Bootstrap - Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
// Google Fonts - Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

// ! Styles
// * General Format-Like Styles
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
header,
main,
footer {
    padding: 0 3vw;
}

// * Header
header {
    background-color: white;
}
.navBar-ctr {
    // box modeling
    height: 10vh;
    // flexbox
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    &__banner {
        // box modeling
        height: 100%;
        width: 100%;
        // flex box
        display: flex;
        justify-content: flex-start;
        align-items: center;
        svg {
            height: 45px;
            path {
                fill: #{$Semantic-Color-Primary};
            }
        }
    }
    &__menu {
        // box modeling
        height: 100%;
        width: 100%;
        // grid father
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 1fr;
        column-gap: 30px;
        .activeItem {
            color: #{$Semantic-Color-Secondary};
        }
        &__item {
            // grid son
            grid-row: 1 / 1;
            // special properties
            list-style-type: none;
            // font properties
            font-size: 1.3rem;
            font-weight: 300;
            color: black;
            text-decoration: none;
            // flexbox
            display: flex;
            flex-flow: nowrap row;
            align-items: center;
            justify-content: center;
            & > p {
                margin: 0;
                cursor: pointer;
                border-bottom: white 2px solid;
                &:hover {
                    color: #{$Semantic-Color-Secondary};
                    border-bottom: #{$Semantic-Color-Secondary} 2px solid;
                }
            }
        }
    }
    &__actions {
        // box modeling
        height: 100%;
        width: 100%;
        // grid father
        display: grid;
        grid-template-rows: 1fr;
        justify-content: flex-end;
        align-items: center;
        column-gap: 30px;
        i {
            font-size: 1.3rem;
            font-weight: 300;
            cursor: pointer;
            &:hover {
                color: #{$Semantic-Color-Secondary};
            }
        }
    }
}

.cartList {
    // position
    position: fixed;
    top: 10vh;
    right: 0px;
    // flexbox
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content 1fr;
    justify-content: center;
    align-content: center;
    // boxmodeling
    background-color: white;
    min-width: 20vw;
    // boders
    border: 2px solid black;
    &__header {
        // flexbox
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: center;
        // boxmodeling
        padding: 5px;
        width: 100%;
        border-bottom: 2px solid #{$Semantic-Color-Secondary};
        margin: 0 0 10px 0;
        p {
            margin: 0;
            font-size: 1.25rem;
            color: black;
            font-style: normal;
        }
    }
    &__items-ctr {
    }
}

// * Main
.itemCount {
    // grid father
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 5px;
    &__counter-ctr {
        // grid father
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        // box modeling
        height: 25px;
        width: max-content;
        // format
        background-color: white;
        border: 1px solid black;
        &__plus-btn {
            // grid son
            grid-column: 1 / 2;
            grid-row: 1 / 1;
            // flexbox
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            i {
                cursor: pointer;
            }
        }
        &__counter {
            // grid son
            grid-column: 2 / 3;
            grid-row: 1 / 1;
            // flexbox
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            p {
                padding: 0;
                margin: 0;
            }
        }
        &__substr-btn {
            // grid son
            grid-column: 3 / 4;
            grid-row: 1 / 1;
            // flexbox
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            // box modeling
            i {
                cursor: pointer;
            }
        }
    }
    &__cart-ctr {
        // flexbox
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        &__btn {
            // format
            border: 1px solid black;
            background-color: white;
            // box modeling
            height: 100%;
            width: max-content;
            // special properties
            cursor: pointer;
        }
    }
}

.item {
    border: black 1px solid;
    // grid father
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    // box modeling
    width: 100%;
    height: 100%;
    &__title {
        //grid son
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        p {
            // box modeling
            margin: 0;
            width: 100%;
            // special properties
            font-size: 1.15rem;
            text-align: start;
            color: black;
            text-decoration: none;
            font-style: normal;
        }
    }
    &__image {
        //grid son
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        // flexbox
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        img {
            // box modeling
            width: 80%;
        }
    }
    &__model {
        //grid son
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        p {
            // box modeling
            margin: 0;
            width: 100%;
            // special properties
            text-align: center;
            font-size: .9rem;
        }
    }
    &__price {
        //grid son
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        p {
            // box modeling
            margin: 0;
            width: 100%;
            // special properties
            text-align: center;
            font-size: 1rem;
        }
    }
    &__actions {
        //grid son
        grid-row: 5 / 6;
        grid-column: 1 / 2;
        // flexbox
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        // box modeling
        height: max-content;
        &__purchase-btn {
            
        }
    }
}

.itemList {
    // grid father
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    // box modeling
    padding: 20px;
}

.ItemDetail {
    // grid father
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    // border
    border: black 1px solid;
    // box modeling
    width: max-content;
    &__image {
        // grid son
        grid-column: 1 / 2;
        grid-row: 1 / 5;
        img {
            height: 250px;
            width: 250px;
        }
    }
    &__title {
        // grid son
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        p {
            margin: 0;
            padding: 0;
        }
    }
    &__description {
        // grid son
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        p {
            margin: 0;
            padding: 0;
        }
    }
    &__price {
        // grid son
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    &__actions {
        // grid son
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    &__model
}

.category {
    // grid father
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    &__itemList {
        // grid son
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border: 2px solid black;
    }
    &__filters {
        // grid son
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // box modeling
        width: 20vw;
        height: 100%;
        border: 2px solid black;
    }
}

// * Footer
