@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

header,
main,
footer {
  padding: 0 3vw;
}

header {
  height: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .banner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .banner img {
  height: 45px;
}

header .menu {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

header .menu .activeItem {
  color: #2B2D42;
}

header .menu__item {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: 300;
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menu__item > p {
  margin: 0;
  cursor: pointer;
  border-bottom: white 2px solid;
}

header .menu__item > p:hover {
  color: #2B2D42;
  border-bottom: #2B2D42 2px solid;
}

header .actions {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

header .actions__item i {
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;
}

header .actions__item i:hover {
  color: #2B2D42;
}

.cartList {
  position: fixed;
  top: 10vh;
  right: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: white;
  min-width: 20vw;
  border: 2px solid black;
}

.cartList__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5px;
  width: 100%;
  border-bottom: 2px solid #2B2D42;
  margin: 0 0 10px 0;
}

.cartList__header p {
  margin: 0;
  font-size: 1.25rem;
  color: black;
  font-style: normal;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 50px;
}

.itemCounter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
}

.itemCounter__counter {
  border: black 1px solid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 35px;
  min-width: 35px;
  max-height: 40px;
  max-width: 40px;
  padding: 5px;
}

.itemCounter__counter p {
  padding: 0;
  margin: 0;
}

.itemCounter__plus-btn {
  border: black 1px solid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 35px;
  min-width: 35px;
  max-height: 40px;
  max-width: 40px;
  padding: 5px;
}

.itemCounter__plus-btn i {
  cursor: pointer;
  color: #5C5C5C;
}

.itemCounter__plus-btn:hover {
  background-color: #EBEBEB;
}

.itemCounter__plus-btn:hover i {
  color: black;
}

.itemCounter__substr-btn {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 33px;
  min-width: 33px;
  max-height: 40px;
  max-width: 40px;
  padding: 5px;
  border: black 1px solid;
}

.itemCounter__substr-btn i {
  cursor: pointer;
  color: #5C5C5C;
}

.itemCounter__substr-btn:hover {
  background-color: #EBEBEB;
}

.itemCounter__substr-btn:hover i {
  color: black;
}

.item {
  border: black 1px solid;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 15px;
  width: 100%;
  height: 100%;
  max-width: 270px;
}

.item__link {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 15px;
  text-decoration: none;
}

.item__link__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.item__link__title p {
  margin: 0;
  width: 100%;
  font-size: 1.15rem;
  text-align: start;
  color: black;
}

.item__link__image {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__link__image img {
  width: 50%;
}

.item__model {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.item__model p {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

.item__price {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.item__price p {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.item__actions {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.itemList {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 20px;
  height: 100%;
}

.itemList--horizontal {
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.itemList--horizontal .item {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  height: 100%;
}

.itemList--vertical {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.itemDetail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 10 vh 0;
}

.itemDetail__image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.itemDetail__image img {
  height: 350px;
}

.itemDetail__actions {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (max-content)[2];
      grid-template-rows: repeat(2, -webkit-max-content);
      grid-template-rows: repeat(2, max-content);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  height: 100%;
}

.itemDetail__actions__counter {
  width: 100%;
}

.itemDetail__actions__counter p {
  font: 0.9rem;
  margin: 0;
  padding: 0;
}

.itemDetail__actions__purchase-ctr {
  width: 100%;
}

.itemDetail__info-ctr {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (max-content)[5];
      grid-template-rows: repeat(5, -webkit-max-content);
      grid-template-rows: repeat(5, max-content);
  row-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

.itemDetail__info-ctr__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin-bottom: 10px;
}

.itemDetail__info-ctr__title p {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.itemDetail__info-ctr__model {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.itemDetail__info-ctr__model p {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.itemDetail__info-ctr__colors {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.itemDetail__info-ctr__colors p {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.itemDetail__info-ctr__description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.itemDetail__info-ctr__description p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.itemDetail__info-ctr__price {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.itemDetail__info-ctr__price p {
  font-size: 1.15rem;
  color: #1C5373;
  margin: 0;
  padding: 0;
}

.shop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.shop__itemList {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.shop__filters {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 20vw;
  height: 100%;
  border: 2px solid black;
}

.categories-ctr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 25px;
  width: 100%;
}

.categories-ctr__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}

.categories-ctr__category ItemList {
  overflow-x: hidden;
}

.categories-ctr__category__header {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 15px;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid black;
}

footer .contact {
  border: 1px solid black;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  justify-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contact__header p {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

footer .contact__list {
  margin: 0 0 0 5px;
  padding: 0;
}

footer .contact__list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr;
      grid-template-columns: 20px 1fr;
  justify-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2px;
          column-gap: 2px;
  list-style-type: none;
}

footer .contact__list__item p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

footer .contact__list__item i {
  font-size: 1rem;
}

footer .newsletter {
  border: 1px solid black;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 100px;
  height: 100px;
}

footer .sections {
  border: 1px solid black;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 100px;
  height: 100px;
}
/*# sourceMappingURL=components.css.map */